<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joan.pastor.joappaspe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="joan.pastor.joappaspe.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="joan.pastor.joappaspe.QuestionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_question"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="joan.pastor.joappaspe.OnDinem"
            android:label="@string/title_activity_on_dinem"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="joan.pastor.joappaspe.OnDinemResult"
            android:label="@string/title_activity_on_dinem_result" >
        </activity>
    </application>

</manifest>
